Source: rhythmbox-radio-browser
Section: sound
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: http://programmierecke.net/programmed/

Package: rhythmbox-radio-browser
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rhythmbox, streamripper, gstreamer0.10-plugins-bad
Description: Internet radio browser plugin for rhythmbox
 Rhythmbox plugin that shows the radio station lists
 of icecast (dir.xiph.org), shoutcast and country
 local radio stations directly in rhythmbox.
 So the user can easily search for internet radio stations
 in rhythmbox and play them.
